[submodule "_objects/uhbench"]
	path = _objects/uhbench
	url = https://github.com/xuv/uhbench.git
[submodule "_objects/Archipel-Bench"]
	path = _objects/Archipel-Bench
	url = https://github.com/Mathieu-G/Archipel-Bench.git
[submodule "_objects/Archipel-Side-table"]
	path = _objects/Archipel-Side-table
	url = https://github.com/Mathieu-G/Archipel-Side-table.git
[submodule "_objects/Archipel-Gerrit"]
	path = _objects/Archipel-Gerrit
	url = https://github.com/Mathieu-G/Archipel-Gerrit.git
[submodule "Archipel-Table"]
	path = Archipel-Table
	url = https://github.com/Mathieu-G/Archipel-Table.git
[submodule "_objects/Archipel-Table"]
	path = _objects/Archipel-Table
	url = https://github.com/Mathieu-G/Archipel-Table.git
[submodule "_objects/Mesita"]
	path = _objects/Mesita
	url = https://github.com/Mathieu-G/Mesita.git
[submodule "_objects/Mobilier-Condition-Publique"]
	path = _objects/Mobilier-Condition-Publique
	url = https://github.com/Mathieu-G/Mobilier-Condition-Publique.git
[submodule "_objects/OSP-Desk"]
	path = _objects/OSP-Desk
	url = https://github.com/Mathieu-G/OSP-Desk.git
[submodule "_objects/WimClips"]
	path = _objects/WimClips
	url = https://github.com/libreobjet/WimClips.git
[submodule "_objects/peggy"]
	path = _objects/peggy
	url = https://github.com/libreobjet/peggy.git
[submodule "_objects/structure-bois"]
	path = _objects/structure-bois
	url = https://github.com/libreobjet/structure-bois.git
[submodule "bouctje"]
	path = _objects/bouctje
	url = https://github.com/libreobjet/bouctje.git
[submodule "_objects/sncbench"]
	path = _objects/sncbench
	url = https://github.com/libreobjet/sncbench
