[submodule "_objects/uhbench"]
	path = _objects/uhbench
	url = https://github.com/xuv/uhbench.git
[submodule "_objects/Archipel-Bench"]
	path = _objects/Archipel-Bench
	url = https://github.com/Mathieu-G/Archipel-Bench.git
[submodule "_objects/Archipel-Side-table"]
	path = _objects/Archipel-Side-table
	url = https://github.com/Mathieu-G/Archipel-Side-table.git
[submodule "_objects/Archipel-Gerrit"]
	path = _objects/Archipel-Gerrit
	url = https://github.com/Mathieu-G/Archipel-Gerrit.git
[submodule "Archipel-Table"]
	path = Archipel-Table
	url = https://github.com/Mathieu-G/Archipel-Table.git
[submodule "_objects/Archipel-Table"]
	path = _objects/Archipel-Table
	url = https://github.com/Mathieu-G/Archipel-Table.git
