<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.name }}</title>
    <link rel="alternate" type="application/atom+xml" href="{{ page.root_path }}/?/feed/">
    <link href='http://fonts.googleapis.com/css?family=Montserrat|Raleway:400,600,700|Istok+Web:700,400,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ page.root_path }}/public/css/main.css" type="text/css" media="screen">
    </head>
  <body>
    <header>
      <h1><a class="brand" href="{{ page.root_path }}">
        <img class="logo" src="{{ page.root_path }}/public/css/img/logo.svg" alt="{{ page.name }} Logo" title="{{ page.root_path }}" width="" height="" />
      </a></h1>
      {% include 'partials/navigation.html' %}
    </header>
    <div class="container">
