@import 'nib/vendor'
@import 'nib/gradients'
@import 'normalize'

color1 = #00bd00
mono = cousine, courier new, monospace
sans = Raleway, arial, sans-serif

body 
  line-height 1em
  font-family sans
  letter-spacing 1px
  font-size 16px
  line-height 22px
  font-weight 600
header 
  border-bottom 1px solid color1
  padding 50px 0 70px 40px
  h1
    float left
  .logo 
    width 213px
    height auto
    position relative
    top -4px
  .nav 
    float left
    margin-left 270px
.nav li, .pagination li 
  display block
  float left
  margin 0 20px

// Content

.content
  .highlight
    background color1
    color white
    padding 50px 0
    text-align center
    font-size 30px
    line-height 1.3em
  h1 
    margin 0 0 20px 0
  li 
    &:before 
      content "—"
      padding 0 20px 0 0

// Object

.object-box
  clearfix()
  border-bottom 1px solid color1
  .object-image
    float left
    border-right 1px solid color1
    img
      display block
  .object-meta 
    float left
    padding 40px
    font-family mono
    font-size 12px
    font-weight normal
    p 
      margin 0 0 13px 0
      line-height 15px
    li 
      display inline
  .object-content
    max-width 500px
    float left
    padding 40px
    .download 
      margin-bottom 20px

// Object in lists

.content.list
  .object-box
    .object-meta
      .object-name
        margin 110px 0 80px 80px
        font-size 30px
        font-weight bold
        font-family sans
      .object-designer
        display none

// Object in single page

.content.single
  .object-box
    .object-image
      border-bottom 1px solid color1
    .object-meta
      width 500px
    .object-content
      width 500px
      float left
      .download
        line-height 2em
        a
          background color1
          padding 5px
          color white

.pagination 
  margin 20px 20px 0 20px

footer 
  clear both
  padding 20px 0 20px 40px
  font-family mono
  font-size 14px
  font-weight normal
a 
  color color1
  text-decoration none
  transition color .3s
  &:hover
    color black

