{% include 'partials/header.html' %}
  <div class="content">
    {% for child in page.root %}
      {% if child.children %}
        <ul class="projects">
        {% for child in child.children %}
          <li class="col {{ child.id }}">
            <h2>
              {% if child.thumb %}
                <img src="{{resize_path(child.thumb.url, 500, 0, 0, 95)}}" width="500" height="auto" class="project-thumb" alt="">
              {% endif %}
              <a href="{{ child.url }}">{{ child.object_name }}</a>
            </h2>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </div>
{% include 'partials/footer.html' %}
