<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
  <div class="container content">
    <div class="highlight">
    {% if page.object_name %}{{ page.object_name }}{% else %}{{ site.moto | newline_to_br }}{% endif %}
    </div>
    <div class="object-box">
      <div class="object-data">
        {% for collection in site.collections %}
          {% if collection.label == 'objects' %}
            <ul class="images">
            {% for file in collection.files %}
              {% assign page_folder = page.path | split:"/" %}
              {% assign file_folder = file.path | split:"/" %}
              {%  if page_folder[1] == file_folder[2] %}
                {% assign source = file.path | remove_first:"_" %}
                {% assign name = source | split:"/" | last %}
                {% if file.extname == ".jpg" or file.extname == ".png" or file.extname == ".gif" %}
                  <li><img src="{{ relative }}{{ source }}" alt="{{ name }}"/></li>
                {% endif %}
              {% endif%}
            {% endfor %}
          </ul>
          <!--
          <ul class="data">
            {% for file in collection.files %}
              {% assign page_folder = page.path | split:"/" %}
              {% assign file_folder = file.path | split:"/" %}
              {%  if page_folder[1] == file_folder[2] %}
                {% assign source = file.path | remove_first:"_" %}
                {% assign name = source | split:"/" | last %}
                {% if file.extname != ".jpg" and file.extname != ".png" and file.extname != ".gif" %}
                  <li><a href="{{ relative }}{{ source }}">{{ name }}</a></li>
                {% endif %}
              {% endif%}
            {% endfor %}
          </ul>
        -->
          {%  endif %}
        {% endfor %}
      </div>
      <div class="object-meta">
        <ul>
          {% if page.object_name %}<li><span class="label">Name:</span> {{ page.object_name }}</li>{% endif %}
          {% if page.designer %}<li><span class="label">Designer(s):</span> {% for designer in page.designer %}{{ designer }} {% endfor %}</li>{% endif %}
          {% if page.builder %}<li><span class="label">Builder(s):</span> {% for builder in page.builder %}{{ builder }} {% endfor %}</li>{% endif %}
          {% if page.category %}<li><span class="label">Category:</span> {{ page.category }}</li>{% endif %}
          {% if page.tags %}<li><span class="label">Tags:</span> {% for tag in page.tags %}{{ tag }} {% endfor %}</li>{% endif %}
          {% if page.creation_date %}<li><span class="label">Created:</span> {{ page.creation_date }}</li>{% endif %}
          {% if page.contributors %}<li><span class="label">Contributors:</span> {{ page.contributors }}</li>{% endif %}
          {% if page.derived_from %}<li><span class="label">Derived from:</span> {{ page.derived_from }}</li>{% endif %}
          {% if page.realisation_place %}<li><span class="label">Location:</span> {{ page.realisation_place }}</li>{% endif %}
          {% if page.required_hardware %}<li><span class="label">Required hardware:</span> {% for hw in page.required_hardware %}{{ hw }} {% endfor %}</li>{% endif %}
          {% if page.license %}<li><span class="label">License:</span> {{ page.license }}</li>{% endif %}
          {% if page.client %}<li><span class="label">Client:</span> {{ page.client }}</li>{% endif %}
        </ul>
      </div>
      <div class="object-content">
        {{ content }}
      </div>
    </div>
  </div>
{% include footer.html %}
</body>
</html>
