<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
  <div class="container content">
    <div class="highlight">
    {% if page.object_name %}{{ page.object_name }}{% else %}{{ site.moto | newline_to_br }}{% endif %}
    </div>
    <div>
      <ul>
        {% if page.object_name %}<li><span class="label">Name:</span> {{ page.object_name }}</li>{% endif %}
        {% if page.designer %}<li><span class="label">Designer:</span> {{ page.designer }}{% endif %}
        {% if page.builder %}<li><span class="label">Builder:</span> {{ page.builder }}{% endif %}
        {% if page.category %}<li><span class="label">Category:</span> {{ page.category }}{% endif %}
        {% if page.tags %}<li><span class="label">Tags:</span> {{ page.tags }}{% endif %}
        {% if page.creation_date %}<li><span class="label">Created:</span> {{ page.creation_date }}{% endif %}
        {% if page.contributors %}<li><span class="label">Contributors:</span> {{ page.contributors }}{% endif %}
        {% if page.derived_from %}<li><span class="label">Derived from:</span> {{ page.derived_from }}{% endif %}
        {% if page.realisation_place %}<li><span class="label">Location:</span> {{ page.realisation_place }}{% endif %}
        {% if page.required_hardware %}<li><span class="label">Required hardware:</span> {{ page.required_hardware }}{% endif %}
        {% if page.license %}<li><span class="label">License:</span> {{ page.license }}{% endif %}
        {% if page.client %}<li><span class="label">Client:</span> {{ page.client }}{% endif %}
      </ul>
    </div>
    <div>
      {{ content }}

      {% for collection in site.collections %}
        {% if collection.label == 'objects' %}
          <ul class="images">
          {% for file in collection.files %}
            {% assign page_folder = page.path | split:"/" %}
            {% assign file_folder = file.path | split:"/" %}
            {%  if page_folder[1] == file_folder[2] %}
              {% assign source = file.path | remove_first:"_" %}
              {% assign name = source | split:"/" | last %}
              {% if file.extname == ".jpg" or file.extname == ".png" or file.extname == ".svg" or file.extname == ".gif" %}
                <li><img src="{{ source }}" alt="{{ name }}"/></li>
              {% endif %}
            {% endif%}
          {% endfor %}
        </ul>
        <ul class="data">
          {% for file in collection.files %}
            {% assign page_folder = page.path | split:"/" %}
            {% assign file_folder = file.path | split:"/" %}
            {%  if page_folder[1] == file_folder[2] %}
              {% assign source = file.path | remove_first:"_" %}
              {% assign name = source | split:"/" | last %}
              {% if file.extname != ".jpg" and file.extname != ".png" and file.extname != ".svg" and file.extname != ".gif" %}
                <li><a href="{{ source }}">{{ name }}</a></li>
              {% endif %}
            {% endif%}
          {% endfor %}
        </ul>
        {%  endif %}
      {% endfor %}
    </div>
  </div>
{% include footer.html %}
</body>
</html>
